---
services:
  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    restart: unless-stopped
    environment:
      USER_UID: "1000"
      USER_GID: "1000"
      GITEA__server__HTTP_PORT: "{{ report_repository_http_port }}"
      GITEA__server__SSH_PORT: "{{ report_repository_ssh_port }}"
      GITEA__server__DOMAIN: report-repository.internal
      GITEA__server__ROOT_URL: "http://report-repository.internal:{{ report_repository_http_port }}/"
      GITEA__database__DB_TYPE: sqlite3
      GITEA__security__INSTALL_LOCK: "true"
      GITEA__service__DISABLE_REGISTRATION: "false"
      GITEA__service__REQUIRE_SIGNIN_VIEW: "false"
    ports:
      - "{{ report_repository_http_port }}:{{ report_repository_http_port }}"
      - "{{ report_repository_ssh_port }}:22"
    volumes:
      - {{ report_repository_data_dir }}:/data
    networks:
      - gitea-net

networks:
  gitea-net:
    driver: bridge
